<div ng-controller="GettingStartedController">

  <super-navbar>
    <super-navbar-title>
      Onycholytics
    </super-navbar-title>
    <super-navbar-button side="right"></super-navbar-button>
    <super-navbar-button side="left" ng-click="logOut()">LogOut</super-navbar-button>
  </super-navbar>
  <div class="padding">
	  <h3><b>Instructions: </b></h3>
	  <p>Try to fill up as much of the Camera with your toe as you can. When editing, fit your toe into the outline
	  and press "Crop".</p>
	  <p><b>Note: </b>Please turn off HDR in your Camera if you are using an iPhone.</p>
  </div>
  <div class="row">
  	<div class="col-xs-5">
  	</div>
  	<div class="col-xs-2">
	    <button align="middle" type="button" class="btn btn-default btn-lg" ng-click="takePhoto()">
	  		<span class="glyphicon glyphicon-camera"></span>
	  	</button>
  	</div>
  </div>

</div>

