.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}


#video_box{
    float:left;
}

#video_overlays {
position:absolute;
float:left;
    width:320px;
    min-height:320px;
    opacity: 0.7;
    background-image: url(images/mushroom.jpg);
    z-index:300000;
}


#draggable {
    /*width:50px;
    height:50px;
    background-color:#f00;*/
    position:absolute;
}

#template {
    margin-top: 20px;
    /*width:50px;
    height:50px;
    background-color:#f00;*/
    position: absolute;
    top:135px;
    left: calc(50% - 100px);
    /*left:60px;*/
    
}

.wrapper{
  text-align: center;
  margin-top: 30px;
}

#editing {
    margin-top: 10px;
    width: 95%;
    height: 300px;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 20px 20px;
    background-color: #FFFFCC;
}

button#login-button {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  width: 125px;
  padding: 8px 21px;
  background-color: #00B5FF;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 0px solid #000000;
 
}

/*.crop {
    width: 200px;
    height: 150px;
    overflow: hidden;
}

.crop img {
    width: 400px;
    height: 300px;
    margin: -75px 0 0 -100px;
}*/

.crop img {
    position: absolute;
    clip: rect(100px,200px,200px,100px);
}