<div ng-controller="ImageController">
    <super-navbar>
        <super-navbar-title>
          Picture Views
        </super-navbar-title>
    </super-navbar>



    <div id="draggable" >
        <img name="myImage" src="/images/Finger-icon.png" alt="pic" width="100px" height="100px" />
    </div>

    <body onload="initial()"> 
        <div class="wrapper">

            <p><button id="login-button" ng-click="zoomIn()">Zoom In</button></p>
            <p><button id="login-button" ng-click="zoomOut()">Zoom Out</button></p>
            <p><button id="login-button" ng-click="resetImage()">Reset</button></p>
        </div>
    </body>
    <div class="crop" >
        <img src="/images/pointing_finger.png" alt="pic" width="300px" height="300px" />
    </div>
<!--    <div class="crop">
        <img src="/images/pointing_finger.png" alt="pic" />
    </div>-->
</div>