<div ng-controller="ImageController">
    <super-navbar>
        <super-navbar-title>
          Photo Editor
        </super-navbar-title>
        <super-navbar-button side="left" ng-click="Back()">Back</super-navbar-button>
    </super-navbar>

    
        <div id="draggable" >
            <img name="myImage" id="editImage" ng-src="/images/bigtoe.png" alt="pic"/>
        </div>
   


        <div id="template" >
            <img name="myImage2" src="/images/Finger-icon.png" alt="pic" width="150px" height="220px" />
        </div>


    <body onload="initial()"> 
        <div class="wrapper">

            <button id="login-button" ng-click="resetImage()">Reset</button>
            <button id="login-button" ng-click="imagechange()">Crop</button>
            <!-- <button id="login-button" ng-click="zoomOut()"><img name="zoomin" src="/icons/zoomout.svg" width="30px" height="30px" /></button> -->
            <!--<p><button id="login-button" ng-click="resetImage()">Reset</button></p>-->
        </div>
        <canvas id="myCanvas" width="150" height="200" style="border:1px solid #d3d3d3;" onload="">
        Your browser does not support the HTML5 canvas tag.
        </canvas>
        
        <image id="theimage"></image>
    </body>

    <!--
    <div class="crop1" >
        <img src="/images/pointing_finger.png" alt="pic" width="300px" height="300px" />
    </div>

    <div class="crop" >
        <img src="/images/pointing_finger.png" alt="pic" width="300px" height="300px" />
    </div>
   <div class="crop">
        <img src="/images/pointing_finger.png" alt="pic" />
    </div>-->
</div>