<div ng-controller="ImageController">
    <super-navbar>
        <super-navbar-title>
          Picture Views
        </super-navbar-title>
    </super-navbar>



    <div id="draggable" >
        <img name="myImage" src="http://i44.tinypic.com/1hezvm.jpg" alt="pic" width="100px" height="70px" />
    </div>

<body onload="initial()"> 
    <div class="wrapper">

        <p><button id="login-button" ng-click="zoomIn()">Zoom In</button></p>
        <p><button id="login-button" ng-click="zoomOut()">Zoom Out</button></p>
        <p><button id="login-button" ng-click="resetImage()">Reset</button></p>
    </div>
</body>

</div>