<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Index
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <button class="button button-block button-positive" ng-click="takePhoto()">Take a picture!</button>
  </div>

  <div class="padding" ng-repeat="progress in progresstables">
    <img ng-src="data:image/jpeg;base64,{{ progress['photo'] }}" alt="Description"/>
  </div>

  <div class="crop" >
      <img src="data:image/jpeg;base64,{{ photoToken }}" alt="pic" width="300px" height="300px" />
  </div>
  
</div>