<div ng-controller="surveyController">

	<super-navbar>
        <super-navbar-title>
          Initial Survey
        </super-navbar-title>
        <super-navbar-button side="right" ng-click="FinishInitial()">Finish</super-navbar-button>
    	<super-navbar-button side="left"></super-navbar-button>
    </super-navbar>
<iframe src="https://docs.google.com/forms/d/1LrwKaQGfP7QPYWqSBNmzo8OIuD6pD0C_uBjNT5bJyJ8/viewform?embedded=true" width=device-width height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    
<div class="button-bar">

      <a id="image-view-button" class="button icon-right super-chevron-right button-energized" ng-click="FinishInitial()">Finish</a>
      
  </div>
</div>