<div ng-controller="messageController" class="container-fluid">
    <super-navbar>
        <super-navbar-title>Messages</super-navbar-title> 
        <super-navbar-button side="right" ng-click="buttonTapped()">+ New Message</super-navbar-button>
    </super-navbar>

    <div id="inbox">Inbox</div>
    
    <div id="message-container">

        <div class="messageRow" ng-repeat="message in messages">
            <super-navigate id="messageButton" location="camera#messageDetails" data-params-xid="{{ message.id }}" data-params-zid="{{ userType }}">
            	<p>{{ message["message"].title }}</p>
        	</super-navigate>
        </div>
    </div>

</div>