<div ng-controller="newCoorMessageController" class="container-fluid">
	 <super-navbar>
    	<super-navbar-title>Compose a Message</super-navbar-title> 
    </super-navbar>
    
    <form ng-submit="submitForm()" id="newMessageForm">
    	<div class="form-container">
    		<input class="form-control" id="messageTitle" placeholder=" Message Title" type="text">
    	</div> 
    	<div class="form-container">
    		<textarea style="border: none" type = "text" text class="form-control" rows="5" id="messageBody" placeholder="Message Body"></textarea>
    	</div>
    	<button class="button button-block button-positive" id="saveButton">Send</button>
    </form>

</div>