#%RAML 0.8
title: Steroids Data
mediaType: application/json
baseUri: https://rest-api.appgyver.com/v1/

traits:
  - securedBySteroidsApiKey:
      headers:
        steroidsApiKey:
          type: string
          example: exampleapikey
          default: 8e81e12ba6f105ee32c902e2656d05912bb85c728465a1ff3a03344f0ab7e417
        steroidsAppId:
          type: integer
          example: 1234
          default: 59837

schemas:
  - progresstable_collection: '{"$schema":"http://json-schema.org/schema","title":"progresstable collection","type":"object","properties":{"results":{"type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical progresstable representation","properties":{"createdAt":{"type":"string"},"objectId":{"type":"string"},"photo":{"type":"string"},"updatedAt":{"type":"string"}},"required":[]}}}}'
  - progresstable_member: '{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical progresstable representation","properties":{"createdAt":{"type":"string"},"objectId":{"type":"string"},"photo":{"type":"string"},"updatedAt":{"type":"string"}},"required":[]}'
  - usertable_collection: '{"$schema":"http://json-schema.org/schema","title":"usertable collection","type":"object","properties":{"results":{"type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical usertable representation","properties":{"createdAt":{"type":"string"},"isPatient":{"type":"boolean"},"myPhotos":{"type":"array"},"objectId":{"type":"string"},"password":{"type":"string"},"updatedAt":{"type":"string"},"username":{"type":"string"}},"required":[]}}}}'
  - usertable_member: '{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical usertable representation","properties":{"createdAt":{"type":"string"},"isPatient":{"type":"boolean"},"myPhotos":{"type":"array"},"objectId":{"type":"string"},"password":{"type":"string"},"updatedAt":{"type":"string"},"username":{"type":"string"}},"required":[]}'
  - usermessage_collection: '{"$schema":"http://json-schema.org/schema","title":"usermessage collection","type":"object","properties":{"results":{"type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical usermessage representation","properties":{"coordID":{"type":"string"},"createdAt":{"type":"string"},"message":{"type":"object"},"objectId":{"type":"string"},"patientID":{"type":"string"},"updatedAt":{"type":"string"}},"required":[]}}}}'
  - usermessage_member: '{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical usermessage representation","properties":{"coordID":{"type":"string"},"createdAt":{"type":"string"},"message":{"type":"object"},"objectId":{"type":"string"},"patientID":{"type":"string"},"updatedAt":{"type":"string"}},"required":[]}'
  - coormessage_collection: '{"$schema":"http://json-schema.org/schema","title":"coormessage collection","type":"object","properties":{"results":{"type":"array","items":{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical coormessage representation","properties":{"Read":{"type":"boolean"},"coorID":{"type":"string"},"createdAt":{"type":"string"},"message":{"type":"object"},"objectId":{"type":"string"},"patientID":{"type":"string"},"updatedAt":{"type":"string"}},"required":[]}}}}'
  - coormessage_member: '{"$schema":"http://json-schema.org/schema","type":"object","description":"The canonical coormessage representation","properties":{"Read":{"type":"boolean"},"coorID":{"type":"string"},"createdAt":{"type":"string"},"message":{"type":"object"},"objectId":{"type":"string"},"patientID":{"type":"string"},"updatedAt":{"type":"string"}},"required":[]}'

resourceTypes:
  - dolan_db_collection:
      usage: This resourceType should be used for any collection of items
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "collection"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "objects"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_collection # e.g cars
      post:
        description: |
          {
            "action": "create",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car

  - dolan_db_member:
      usage: This resourceType should be used for any built.io item
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "find"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car
      put:
        description: |
          {
            "action": "update",
            "rootKey": "object"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            description: |
              {
                "rootKey": "object"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_member
      delete:
        description: |
          {
            "action": "destroy"
          }
        responses:
          200:

  - parse_collection:
      usage: This resourceType should be used for any collection of items
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "collection"
          }
        responses:
          200:
            description: |
              {
                "rootKey": "results"
              }
            body:
              application/json:
                schema: <<resourcePathName>>_collection # e.g cars
      post:
        description: |
          {
            "action": "create"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car

  - parse_member:
      usage: This resourceType should be used for any parse item
      is: [ securedBySteroidsApiKey ]
      get:
        description: |
          {
            "action": "find"
          }
        responses:
          200:
            body:
              application/json:
                schema: <<resourcePathName>>_member # e.g. car
      put:
        description: |
          {
            "action": "update"
          }
        body:
          application/json:
            schema: <<resourcePathName>>_member
        responses:
          200:
            body:
              application/json:
                schema: <<resourcePathName>>_member
      delete:
        description: |
          {
            "action": "destroy"
          }
        responses:
          200:


/progresstable:
  description: |
    {
      "resourceName": "progresstable",
      "identifierKey": "objectId"
    }
  type: parse_collection
  /{id}:
    type: parse_member

/usertable:
  description: |
    {
      "resourceName": "usertable",
      "identifierKey": "objectId"
    }
  type: parse_collection
  /{id}:
    type: parse_member

/usermessage:
  description: |
    {
      "resourceName": "usermessage",
      "identifierKey": "objectId"
    }
  type: parse_collection
  /{id}:
    type: parse_member

/coormessage:
  description: |
    {
      "resourceName": "coormessage",
      "identifierKey": "objectId"
    }
  type: parse_collection
  /{id}:
    type: parse_member


